# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code files
[*.{js,jsx,ts,tsx,json,css,scss,md}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Package.json
[package.json]
indent_size = 2

# Batch files (Windows)
[*.{cmd,bat}]
end_of_line = crlf
